$header-height: 64px;

$dark: '(prefers-color-scheme: dark)';
$mobile: '(max-width: 640px)';

@mixin safe-area($dir, $offset: 0px) {
  padding-#{$dir}: calc($offset + constant(safe-area-inset-#{$dir}));
  padding-#{$dir}: calc($offset + env(safe-area-inset-#{$dir}));
}

@mixin fullscreen($offset: 0px) {
  position: absolute;
  top: $offset;
  left: $offset;
  right: $offset;
  bottom: $offset;
}

@mixin single-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin serif {
  font-family: '宋体-简', '方正小标宋简体', '方正准雅宋_GBK', 'Times New Roman', Times, serif;
}

@mixin sanserif {
  font-family:
    v-sans,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}

@mixin bezier {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  font-size: 15px;
  @include sanserif;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition-property: color, background-color;
  transition-duration: 0.5s;
  overflow: hidden;

  color: rgb(51, 54, 57);
  background-color: rgb(255, 255, 255);

  @media #{$dark} {
    color: rgba(255, 255, 255, 0.82);
    background-color: rgb(16, 16, 20);
  }
}

.n-message-container {
  @include safe-area('top');
}
